<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.test.pluginservice">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity android:name=".TestServiceActivity">

        </activity>
        <service
            android:name=".SpeechRecognitionService"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>